{
    "include": [
        "src/*.js"
    ],
    "exclude": [
        "node_modules/**",
        "test/**"
    ],
    "reporter": [
        "text",
        "html"
    ],
    "report-dir": "coverage",
    "branches": 50,
    "lines": 50,
    "functions": 50,
    "statements": 50
}